{% extends "auctions/layout.html" %}

{% load static %}

{% block title %}
    Closed Listings
{% endblock %}


{% block body %}
    <h2 id="listing">Closed Listings</h2> 
    {% for listing in closed_listings %}
        <div id="listing" class="border border-secondary rounded">
            <a href="{% url 'listing' listing.id %}" id="inspect">
            {% if listing.image %}
                <img id="listing_image" src="{{ listing.image.url }}" alt="Image Not Found" align="left">
            {% endif %}
            {% if listing.link %}
                <img id="listing_image" class="rounded" src="{{ listing.link }}" alt="Image Not Found" align="left">
            {% endif %}
                <div id="listing_text" align="left">
                    <h3><strong>{{ listing.title }}</strong></h3>
                    <div>
                        {% if listing.bids.last %}
                            {% if listing.bids.last.bidder == request.user %}
                                <h5 style="color: #00ba37;"><strong>Congradulations! You Won The Bid For {{ listing.bids.last }}!</strong></h5>
                            {% else %}
                                <h5 style="color: #FC0000;"><strong>Winning Bid: {{ listing.bids.last }}</strong></h5>
                            {% endif %}
                        {% else %}
                            <h5 style="color: #FC0000;"><strong>The seller closed the listing before bids could start.</strong></h5>
                        {% endif %}
                    </div>
                    <div id="description">
                        {{ listing.body|truncatechars:100 }}
                    </div>
                    <h5 style="color: grey;">Created: {{ listing.date_created }}</h5>
                </div>
            </a>
        </div>
    {% endfor %}

{% endblock %} 
